@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply h-full bg-gray-950 text-white antialiased;
        font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            sans-serif;
    }
    #app {
        @apply h-full flex overflow-hidden;
    }
}
