name: Check for project
description: Check for type errors and linting errors in the project.

on:
  pull_request:
    branches:
      - main
      - kei
  workflow_dispatch:
permissions:
  contents: read

jobs:
  buildable:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: "package.json"
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: "package.json"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build frontend
        run: pnpm run --filter frontend build # If this fails, the PR should not be merged.
      - name: Build backend
        run: pnpm run --filter backend build # If this fails, the PR should not be merged.
  ci:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    container: 
      image: mcr.microsoft.com/playwright:v1.57.0
      options: --user 1001
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: "package.json"
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: "package.json"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Check type errors
        timeout-minutes: 10 # It takes long time due to svelte type checking
        run: pnpm run --filter frontend check:types
      - name: Run unit tests
        run: pnpm run --filter frontend test --reporter=dot
        timeout-minutes: 5
      - name: Run browser tests
        run: pnpm run --filter frontend test:browser --reporter=dot
        timeout-minutes: 10 # Browser is slow
      - name: Check linting
        run: pnpm run --filter frontend lint
